<ng-include src="'app/partials/header.html'"></ng-include>
<ul id="header-options">
    <li toggle="toggle.display"><span class="glyphicon glyphicon-plus"></span>New Task</li>
</ul>
<li ng-repeat="user in users">
    <input type="checkbox" ng-model="todo.done" ng-click="markTodo(todo)">
    <span class="done-{{todo.done}}">{{user.text}}</span>
    <span class="removeTodo glyphicon glyphicon-remove" ng-click="removeTodo(todo)"></span>
</li>
<div id="task-wrap">
    <div class="new-task" ng-show="toggle.display">
        <textarea ng-model="taskText"></textarea>
        <span ng-click="addTask()" class="glyphicon glyphicon-plus"></span>
    </div>
    <ol class="task-list" drag-list="{ axis: 'y' }">
        <li ng-repeat="task in tasks" class="done-{{ task.done }}">
            <span class="glyphicon glyphicon-ok"></span>
            {{ task.text }}
            <span class="glyphicon glyphicon-remove"></span>
        </li>
    </ol>
</div>